<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<button class= "social_btn">
    <%= link_to "My account on Github!", "https://github.com/evnkpln", class: "social-btn" %>
</button>
